<!DOCTYPE html>
<html lang="en" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:th="https://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>

<div class="container-fluid">
    <!---шапка-->
        <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
            <h5 class="navbar-brand col-md-3 col-lg-2 mr-0 px-3">  <span th:text="${admin.getEmail()}">something</span>
                with roles: <span th:text="${admin.getRolesString()}"></span> </h5>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </nav>

<div class="row">
    <div class="col-2">
    <!---vertical pills--->
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
        <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
    </div>
    </div>
    <!---pills insides--->
    <div class="col-10 bg-light">
    <div class="tab-content" id="v-pills-tabContent">
        <!---admin--->
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="page-header">
                <h2>Admin panel</h2>
            </div>
            <!---pills for table and form--->
            <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">New User</a>
                </li>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <!--- table --->
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="card">
                        <div class="card-header">
                            <h5>All users</h5>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-sm">
                                <!--- column names --->
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each ="user : ${users}">
                                    <td th:text="${user.getId()}"></td>
                                    <td th:text="${user.getFirstName()}"></td>
                                    <td th:text="${user.getLastName()}"></td>
                                    <td th:text="${user.getAge()}"></td>
                                    <td th:text="${user.getUsername()}"></td>
                                    <td th:text="${user.getRolesString()}"></td>
                                    <!--- edit --->
                                    <td>
                                        <!-- btn -->
                                        <button type="button" class="btn btn-info"
                                                data-toggle="modal"
                                                th:data-target="${'#modalEdit'+user.id}"
                                                data-whatever="@userID">Edit
                                        </button>
                                        <!-- edit modal -->
                                    </td>
                                    <!--- delete --->
                                    <td>
                                        <!-- btn -->
                                        <button type="button" class="btn btn-danger"
                                                data-bs-toggle="modal"
                                                th:data-target="${'#modalDelete' + user.id}"
                                                data-whatever="@userID">Delete
                                        </button>
                                        <!-- delete modal -->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--- new user --->
                <div class="tab-pane fade border" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h1>oap</h1>
                </div>
            </div>
        </div>
        <!---user--->
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="profile-tab">
            <h2>User information-page</h2>
            <div class="card">
                <div class="card-header">
                    <h5>About user</h5>
                </div>
                <div class="card-body">
                    <!----card body--->
                    <table class="table table-striped table-sm">
                        <!---top--->
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:object="${admin}">
                            <tr>
                                <td><span th:text="${admin.id}"></span></td>
                                <td><span th:text="${admin.firstName}"></span></td>
                                <td><span th:text="${admin.lastName}"></span></td>
                                <td><span th:text="${admin.age}"></span></td>
                                <td><span th:text="${admin.email}"></span></td>
                                <td><span th:text="${admin.getRolesString()}"></span></td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>





</div>







</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>